### Project-DataScience-Bowl

### File descriptions

* /stage1_train/* - training set images (images and annotated masks)

* /stage1_test/* - stage 1 test set images (images only, you are predicting the masks)

* stage1_sample_submission.csv - a submission file containing the ImageIds for which you must predict during stage 1

* stage1_train_labels.csv - a file showing the run-length encoded representation of the training images. This is provided as a convenience and is redundant with the mask image files.

* stage2_sample_submission.csv (released later) - a submission file containing the ImageIds for which you must predict during stage 2

* /stage2_test/* (released later) - stage 2 test set images (images only, you are predicting the masks)

In [6]:
# Import required libraries
import pandas as pd
import zipfile

In [7]:
# Unzip the stage1 testing images
zip_ref = zipfile.ZipFile("../data/stage1_test.zip", 'r')
zip_ref.extractall("../data/stage1_test/")
zip_ref.close()

In [8]:
# Unzip the training images
zip_ref = zipfile.ZipFile("../data/stage1_train.zip", 'r')
zip_ref.extractall("../data/stage1_train/")
zip_ref.close()

In [3]:
# Import Stage 1 training labels
train_labels = pd.read_csv("../data/stage1_train_labels.csv")

In [4]:
# Explore the structure of the data
train_labels.head()

,ImageId,EncodedPixels
0,00071198d059ba7f5914a526d124d28e6d010c92466da2...,6908 1 7161 8 7417 8 7672 9 7928 9 8184 9 8440...
1,00071198d059ba7f5914a526d124d28e6d010c92466da2...,36269 7 36523 11 36778 13 37033 15 37288 17 37...
2,00071198d059ba7f5914a526d124d28e6d010c92466da2...,19919 6 20174 8 20429 10 20685 11 20941 12 211...
3,00071198d059ba7f5914a526d124d28e6d010c92466da2...,18671 6 18926 8 19181 9 19436 10 19691 11 1994...
4,00071198d059ba7f5914a526d124d28e6d010c92466da2...,40158 3 40413 5 40669 5 40925 5 41182 3

In [5]:
# Explore the structure of the data
train_labels.describe()

,ImageId,EncodedPixels
count,29461,29461
unique,670,29460
top,a102535b0e88374bea4a1cfd9ee7cb3822ff54f4ab2a98...,60219 3 60474 5 60730 5 60986 5 61243 3
freq,375,2